__pycache__/
*.egg-info/
ckpts/*

test/*
external_references/*
!external_references/
!external_references/COLCON_IGNORE

.codex
.agents
.venv
.pytest_cache
.env
.env.localization
.env.orin.split
.env.orin.wildos
.env.orin.wildos-cameras
.env.x86_64.lidar-dlio
