# 视觉推理
torch==2.7.0
torchvision==0.22.0
timm==1.0.15
open-clip-torch==2.32.0
transformers==4.51.3
einops==0.8.1
scikit-image
onnx
opencv-python
matplotlib
numpy>=1.23,<2

# 运行时工具
omegaconf
pillow
scipy
huggingface_hub
safetensors
ftfy
regex
tqdm
cupy-cuda12x>=13.6.0
ros2-numpy>=0.0.5
transforms3d>=0.4.2
